@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anuphan', sans-serif;
}
body{
    background-color: #dbd8e3;
}
.conteaner{
    margin: 0 auto;
    width: 950px;
    height: 150vh;
   
}

.dropdown{
    padding: 10px 20px;
    background-color: #ffffff80;
    width: 270px;
    height: 180px;
    border-radius: 4px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 70px;
    backdrop-filter: blur(5px);
    display: none;
    z-index: 99;
}

.dropdown ul li{
    margin-left: 10px;
   list-style: none;

}
.chang{
    display: block;
}
nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
nav .btn-bar{
    cursor: pointer;
    font-size: 30px;
}
    .nav img{
    height:100px;
    width: 120px;
}

.bg{
    position: absolute;
    width: 100%;
    height:500px;
    background: url(https://www.starfishlabz.com/media/588182) no-repeat;
    background-position: center ;
    background-size: 1920px auto;
    object-fit: cover;
    z-index: -1;
  }
  .bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2010299f; /* สีดำโปร่งแสง */
    pointer-events: none; /* ทำให้ไม่สามารถคลิกผ่าน pseudo-element นี้ได้ */
}

.img{
    width: 554px;
    height: 554px;
    margin: auto;
    padding-top: 250px;
}

.sec1{
    color: rgb(255, 241, 254);
    padding: 20px;
    margin: 50px auto ;
    z-index: +2;
}

.sec1 h1{
    color: rgb(217, 206, 255);
    font-size: 50px;
    position: relative;
    left: 20px;
    bottom: 20px;
    padding: 10px;
}

.sec1 p{
    font-size: 20px;
    position: relative;
    bottom: 20px;
    padding: 10px;
}
.sec2{
    position: relative;
    top: 80px;
    height: 450px;
    width: 100%;
    /* background-color: aliceblue; */
}
.sec2 h2{
    padding: 0;
}
.sec2 .p{
    padding: 0 0 0 20px;
}


.sec-2{
    z-index: -2;
    position: relative;
    width: 900px;
    height: 300px;
    border-radius: 13px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    background: url(bg6p.jpg) no-repeat;
    background-position: center ;
    background-size: 105% 175%;
    object-fit: cover;
    top: 15%;
}
.sec-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.267); /* สีดำโปร่งแสง */
    pointer-events: none; /* ทำให้ไม่สามารถคลิกผ่าน pseudo-element นี้ได้ */
    z-index: -1;
}
.sec2 img{
        position: absolute;
        width: 300px;
        right: 0;
        top: 0;
}
.sec2 h2{
    padding: 40px 20px 10px 50px;
}
.sec2 p{
    width: 600px;
    padding: 30px;
}

.next {
    width: 300px;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
}
.highlighted {
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
}
.next div {
    margin: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.692);
    /* box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); */
}

.arrow{
    z-index: 1;
    display: flex;
    margin: 0 auto;
    height: 70px;
    width: 300px;
    /* backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); */
}

.arrow-left{
    z-index: 1;
    width: 50%;
    color: #352f44;
    /* backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); */
}

.arrow-rigth{
    z-index: 1;
    width: 50%;
    /* backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); */
}
.sec3{
    margin: 100px auto;
    position: relative;
    width: 900px;
    height: 120px;
    display: flex;
}
.arrow-left, .arrow-rigth {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7 {
            /* margin: 5px; */
            width: 100%;
            height: 100%;
            backdrop-filter: blur(20px);
              background-color: #5c5470;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(255, 255, 255);
            font-size: 25px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            cursor: pointer;
}
.box2 h1,.box4 h1,.box6 h1 {
    position: relative;
    top: 15px;
}

.box1,.box3,.box5,.box7{
            /* margin: 5px; */
            width: 100%;
            height: 100%;
            clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 25px;
}
.box1 h1,.box3 h1,.box5 h1,.box7 h1{
    position: relative;
    bottom: 15px;
}

#popup-message h1 {
    font-size: 40px;
    background-color: rgba(228, 182, 240, 0.596);
    padding: 5px;
    border-radius: 8px;
}

#popup-message p {
    font-size: 30px;
    margin-top: 20px;

   text-align: left;
}

/* CSS สำหรับป๊อปอัพ */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* ซ่อนไว้ก่อน */
    z-index: +2;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 90%;
    height: 300px;
    z-index: +2;
}

.close-btn {
    color: white;
    background-color: #5c5470;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -20px;
    font-size: 40px;
    cursor: pointer;
    z-index: +2;
}
.popup-nav {
    animation: popup .2s ease;
  }

  .welcome h1,.welcome p{
    position: relative;
            color: white;
            font-weight: bold;
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 
                         0 0 20px rgba(255, 255, 255, 0.4), 
                         0 0 30px rgba(255, 255, 255, 0.3), 
                         0 0 40px rgba(255, 0, 255, 0.2), 
                         0 0 50px rgba(255, 0, 255, 0.1), 
                         0 0 60px rgba(255, 0, 255, 0.05);
}
.conteaner .img{
    position: absolute;
    left: 20px;
    bottom: 100px;
}
.welcome h1{
    font-size: 50px;
}
.welcome p{
    font-size: 27px;
}
.welcome{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100px;
}
#hp{
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(255, 255, 255), 
                 0 0 20px rgb(255, 255, 255), 
                 0 0 30px rgb(255, 255, 255), 
                 0 0 50px rgb(255, 255, 255), 
                 0 0 50px rgba(255, 0, 255, 0.1), 
                 0 0 60px rgba(255, 0, 255, 0.05);
}
.sec-2 img{
    position: absolute;
    left: -5px;
    top:-85px;
}

#pp {
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: +2;
}
.sec-2 img {
    transition: transform 0.3s; /* เพิ่มการเคลื่อนไหวแบบ transition */
}
@keyframes popup {
    0%{
        transform: scale(0.5)  ;
    }
    50%{
        transform: scale(1.2)  ;
    }
    100%{
        transform: scale(1)  ;
    }
}


@media only screen and (max-width: 720px) {
    .conteaner{
        width: 400px;
    }
    nav {
        background-color: rgb(255, 255, 255);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .nav img {
        height: 60px;
        width: 70px;
    }
    nav .btn-bar {
        cursor: pointer;
        font-size: 20px;
    }
    .sec1 h1 {
        color: rgb(217, 206, 255);
        font-size: 20px;
        position: relative;
        left: 20px;
        bottom: 20px;
        padding: 10px;
    }
    .sec1 p {
        font-size: 12px;
        position: relative;
        bottom: 20px;
        padding: 10px;
    }
    .sec2 {
        position: relative;
        top: 80px;
        height: 450px;
        width: 400px;
        /* background-color: aliceblue; */
    }
    .sec-2 {
        margin: 0 auto;
        width: 350px;
        border-radius: 13px;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.39);
        backdrop-filter: blur(20px);
       
    }
    .sec2 img {
        position: absolute;
        height:100px;
        width: 100px;
        right: 10px;
        top: 10px;
    }
    .sec2 p {
        width: 300px;
        padding: 10px;
    }
    .sec2 h2 {
        padding: 20px 10px 5px 30px;
    }
    .next {
        width: 100%;
        margin: 50px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .arrow {
        z-index: 1;
        display: flex;
        margin: 0 auto;
        height: 70px;
        width: 300px;
    }
    .sec3 {
        margin: 100px auto;
        position: relative;
        width: 380px;
        height: 65px;
        display: flex;
    }
    .next div {
        margin: 6px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .box1 h1, .box3 h1, .box5 h1, .box7 h1 {
        font-size: 30px;
        position: relative;
        bottom: 10px;
    }
    .box2 h1, .box4 h1, .box6 h1 {
        font-size: 30px;
        position: relative;
        top: 10px;
    }
    #popup-message h1 {
        font-size: 30px;
    }
    #popup-message p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 720px) {
    .conteaner .img{
        position: absolute;
        left: 20px;
        bottom: 100px;
    }
    .conteaner {
        width: 100%;
        height: 100dvh;
    }
    .conteaner img{
        width: 300px;
        height: 250px;
    }
    .conteaner .img{
        width: 300px;
        height: 250px;
    }
    .img {
        width: 554px;
        height: 554px;
        margin: auto;
        padding-top: 250px;
    }
}
